$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -12px;
  font-size: 12px;
  color: $main-color;
}
@mixin formStyle {
  background: none;
  background-color: white;
  color: $sub-color;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  
  border-radius: 0;

  margin: 25px 0;
}

.search-group {
  position: relative;
  margin: 0;

  .form-input {
    @include formStyle();
    width: 75%;
    background-image: 
    url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjIuODY1IDIyLjg2NSIgd2lkdGg9JzIwcHgnIGhlaWdodD0nMjBweCcgc3Ryb2tlPScjMTY3YTkyJyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGFyaWEtbGFiZWw9IlNlYXJjaCIgcm9sZT0iaW1nIiBmb2N1c2FibGU9ImZhbHNlIj48Y2lyY2xlICAgdHJhbnNmb3JtPSJyb3RhdGUoLTQ1IDguODk3IDguODg5KSIgY3g9IjguODk3IiBjeT0iOC44ODkiIHI9IjguMTExIj48L2NpcmNsZT48cGF0aCBkPSJNMTQuNjMyIDE0LjYyNGw3LjQ1NyA3LjQ1NyI+PC9wYXRoPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 5%;
    padding-left: 40px;
    margin-top: 10px;
    height: 40px;
    border-style: 1px solid #e5e2de;
    background-color: #fdfdf9;
    border-radius: 4px;
    border-top-color: rgb(229, 226, 222);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(229, 226, 222);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(229, 226, 222);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(229, 226, 222);
    border-left-style: solid;
    border-left-width: 1px;
    font-family: sans-serif;
    font-size: 12px;
    color: #167a92;
    letter-spacing: 0.2rem;
    margin: 0px;
    
    &:focus {
      outline: none;
      
    }

   
   
  

}

.group {
  position: relative;
  margin: 45px 0;

  .form-input {
   @include formStyle();
   border: none;
   border-bottom: 1px solid $sub-color;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }

}
}
