.header {
  height: 70px;
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  background-color: white;
  justify-content: space-between;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    height: 100%;

    display: flex;
    align-items: center;

    .option {
      padding: 10px 15px;
      font-size: 20px;
      cursor: pointer;
      text-decoration: none;
      color: black;
      font-weight: 500;
    }
  }
  .user-and-cart-icon {
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    color: black;
   
    
  }
}
